{% extends 'webapp/common/layout.base.html' %}
{% load django_bootstrap5 %}

{% block title %}
    Szczegóły oznaczenia
{% endblock %}


{% block head %}
    {{ form.media }}
    <style>
        .cell-right td:last-child {
            width: 13rem;
        }
    </style>
{% endblock %}

{% block content %}
    <div>
        <h1>Próbka #{{ testsample.id }} </h1>
        <h4>Dodano: {{ testsample.created_at }}</h4>
        <div><span class="fw-bold">Kod próbki: </span> {{ testsample.sample_code }}</div>
        <div><span class="fw-bold">Placówka źródłowa:</span> {{ testsample.source_facility }}</div>
        <div><span class="fw-bold">Nazwa klienta:</span> {{ testsample.customer_name }}</div>
        <div><span class="fw-bold">Opis próbki:</span> {{ testsample.description }}</div>
        <div><span class="fw-bold">Data przyjęcia:</span> {{ testsample.admission_date }}</div>
        <div><span class="fw-bold">Data przydatności:</span> {{ testsample.expiration_date }}</div>
        {% if testsample.expiration_date_optional|length > 1 %}
            <div>❗<span class="fw-bold">Komentarz dla daty przydatności: </span>{{ testsample.expiration_date_optional }}</div>
        {% endif %}
        <div><span class="fw-bold">Data końca badań:</span> {{ testsample.test_end_date }}</div>
        <div><span class="fw-bold">Rozmiar próbki:</span> {{ testsample.sample_size }}</div>
        <div><span class="fw-bold">Analiza odwoławcza:</span> {{ testsample.appeal_test|yesno:"Tak,Nie," }}</div>
        <div><span class="fw-bold">Stan próbki:</span> {{ testsample.sample_condition }}</div>
        <div><span class="fw-bold">Rodzaj próbki:</span> {{ testsample.sample_type }}</div>
        <div><span class="fw-bold">Status metody:</span> {{ testsample.sample_method }}</div>

    </div>
    <div class="mt-2 d-flex justify-content-end">
        {% url 'testsample_update' testsample.pk as update_url %}
        {% url 'testsample_delete' testsample.pk as delete_url %}
        {% url 'add_related_report' testsample.pk as report_url %}

        {% bootstrap_button "Edytuj" button_type="link" href=update_url extra_classes="me-1" %}
        {% if has_report is False %}
            {% bootstrap_button "Generuj raport" button_type="link" href=report_url extra_classes="me-1" %}
        {% endif %}
        {% bootstrap_button "Usuń" button_type="link" href=delete_url extra_classes="btn-danger" %}
    </div>

    {% if has_report %}
        {% with report=testsample.report %}

            <div class="d-flex flex-column mt-4">
                <h1>Sprawozdanie z badań</h1>
                <table class="table table-striped table-hover table-sm align-middle cell-right">
                    <thead style="border-bottom: 1px solid black">
                    <tr>
                        <th>Data</th>
                        <th>Wykonali</th>
                        <th></th>
                        <th></th>
                        <th></th>
                    </tr>
                    </thead>
                    <tbody>
                    <td>
                        {{ report.created_at }}
                    </td>
                    <td>
                        {% for entry in report.get_formatted_author_list %}
                            {{ entry }}
                            {% if forloop.counter is not report.get_formatted_author_list|length %}
                                ,
                            {% endif %}
                        {% endfor %}
                    </td>
                    <td></td>
                    <td></td>
                    <td>
                        {% url 'report_update' report.id as update_url %}
                        {% url 'report_download' report.id as download_url %}

                        {% bootstrap_button "Edytuj raport" href=update_url extra_classes="btn-sm" %}
                        {% bootstrap_button "Pobierz" href=download_url extra_classes="btn-sm" %}

                    </td>
                    </tbody>
                </table>
            </div>
        {% endwith %}
    {% endif %}

    <div class="d-flex flex-column mt-4">
        <h1>Lista badań</h1>
        {% if testlabel_list|length < 1 %}
            <p>Brak badań.</p>
        {% else %}
            <table class="table table-striped table-hover table-sm align-middle">
                <thead style="border-bottom: 1px solid black">
                <tr>
                    <th>Identyfikator</th>
                    <th>Parametr</th>
                    <th>Wykonane</th>
                    <th>Wynik</th>
                    <th></th>
                </tr>
                </thead>
                <tbody>
                {% for entry in testlabel_list %}
                    <tr>
                        <th scope="row">{{ entry.pk }}</th>
                        <td>{{ entry.parameter_name }}</td>
                        <td class="fw-bold">
                            {% if entry.is_done %}
                                <span class="text-success">
                                Tak
                                </span>
                            {% else %}
                                <span class="text-danger">
                                Nie
                                </span>
                            {% endif %}
                        </td>
                        <td>{{ entry.test_result }}</td>
                        <td>
                            {% url 'testlabel_detail' entry.pk as detail_url %}
                            {% bootstrap_button "Szczegóły" href=detail_url extra_classes="btn-sm" %}
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        {% endif %}

        {% url 'add_related_testlabel' testsample.pk as href_url %}
        {% bootstrap_button "Dodaj badanie" button_type="link" extra_classes="align-self-center" href=href_url %}

    </div>

{% endblock %}