{% extends 'webapp/common/layout.base.html' %}
{% load django_bootstrap5 %}

{% block title %}
    {% if url_name == 'testsample_create' %}
        Dodaj próbkę
    {% elif url_name == 'testsample_update' %}
        Edytuj próbkę
    {% endif %}
{% endblock %}


{% block head %}
    {{ form.media }}
    <script>
        $(document).ready(function () {
            $('select[name="source_facility"]').change(function () {
                let value = $(this).find("option:selected").text();

                let customerNameElem = $('input[name="customer_name"]');
                if (customerNameElem.val().length < 1)
                    customerNameElem.val(value);
            });
        });
    </script>
{% endblock %}

{% block content %}
    <h1>
        {% if url_name == 'testsample_create' %}
            Dodawanie próbki
        {% elif url_name == 'testsample_update' %}
            Edytowanie próbki
        {% endif %}
    </h1>
    <form method="post">
        {% csrf_token %}
        {% bootstrap_form form %}
        <div class="d-flex justify-content-end">
            {% bootstrap_button "Zatwierdź" button_type="submit" %}
        </div>
    </form>
{% endblock %}